@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.corner {
  border-radius: 0 16px 0 16px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scaling-element {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: transform 0.3s ease-in-out;
}

.sidebar {
  width: 0px;
  position: fixed;
  overflow-x: hidden;
  /* transition-delay: 5s; */
  transition: width 0.3s ease-in-out 0.2s;
  /* transition: 0.5s;  */
}
.sidebarbackground {
  width: 0px;
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s; /* Property to be animated, duration, easing function */
}
/* .sidebar-open {
  width: 200px; /* Adjust as needed based on your design 
} */

.sidebar.active {
  left: 0; /* Adjust as needed based on your design */
}

/* .sidebar:hover {
  width: 500px; 
} */

.animated-div {
  width: 100px;
  height: 50px;
  background-color: lightblue;
  transition: width 0.3s ease; /* Property to be animated, duration, easing function */
}

.animated-div:hover {
  width: 200px; /* New width on hover */
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
