@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.corner {
  border-radius: 0 16px 0 16px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scaling-element {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: transform 0.3s ease-in-out;
}

.sidebar {
  width: 0px;
  position: fixed;
  overflow-x: hidden;
  /* transition-delay: 5s; */
  transition: width 0.3s ease-in-out 0.2s;
  /* transition: 0.5s;  */
}
.sidebarbackground {
  width: 0px;
  position: fixed;
  overflow-x: hidden;
  transition: 0.5s; /* Property to be animated, duration, easing function */
}
/* .sidebar-open {
  width: 200px; /* Adjust as needed based on your design 
} */

.sidebar.active {
  left: 0; /* Adjust as needed based on your design */
}

/* .sidebar:hover {
  width: 500px; 
} */

.animated-div {
  width: 100px;
  height: 50px;
  background-color: lightblue;
  transition: width 0.3s ease; /* Property to be animated, duration, easing function */
}

.animated-div:hover {
  width: 200px; /* New width on hover */
}
/* styles.css */
.gradient-text {
  background: linear-gradient(to right, #742370 0%, #11b68e 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* Custom cursor */
.cursor {
  width: 24px;
  height: 24px;
  position: absolute;
  pointer-events: none; /* Ensure it doesn't interfere with clicks */
  transform: translate(-50%, -50%);
  animation: cursorMove 2s infinite ease-in-out;
}

/* Cursor movement animation */
@keyframes cursorMove {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

/* Ripple effect */
.ripple {
  width: 40px;
  height: 40px;
  border: 2px solid #007bff;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

/* Ripple animation */
@keyframes rippleEffect {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

@keyframes pulse {
  90% {
    opacity: 0.98;
    scale: 0.98;
  }
}
.pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.whowearegradient {
  background: linear-gradient(270deg, #f0eaff 20.93%, #fff 72.2%);
}
.labsgradient {
  background: linear-gradient(269deg, #f6f6fe 7.58%, #fff 86.22%);
}
.wave {
  animation: 2s ease-in-out 0s infinite alternate both running wave;
}
@keyframes wave {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}
